
@mixin arrow(){
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #999;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.arrow-container{
    
    .left-arrow{
        @include arrow;
        left: 30px;
        &::after{
            content: '<';
 
        }
    }
    .right-arrow{
        @include arrow;
        right: 30px;
        &::after{
            content: '>';
 
        }
    }
}